<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Brandon Roberts</title>

    <!-- Latest compiled and minified CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/vue.js"></script>
    <style>
        #ig{
            width: 200px;
        }
    </style>


</head>
<body style="background: #222">
    <nav class="navbar navbar-fixed-top">
        <div class="container">


        </div>
    </nav>
    <div class="container">
        <div class="col-md-12" style = "text-align: center;   border-radius: 10px;
            background-color: #333;
            margin-top: 20px;
            padding: 10px;" class="page-header">
         <h1 style = "font-weight: bold; font-size: 72px; color: white">DevCorner</h1>
             <small style="color: white">By Brandon Roberts</small>

        <a href="https://www.kickstarter.com/projects/1672086733/718704537?ref=341330&token=7c2147a7">
        <img id="ig" src="images/kickstarter-logo-light-support.png" data-toggle="tooltip" data-placement="top" title="Kickstarter Campaign"/>
        </a>
        </div>
        <div class="col-12 text-center">
        <a class="badge badge-primary" href="http://softsnowstudios.ca/"> Chocolate Conquest </a>
        <a class="badge badge-primary" href="https://github.com/BigGlasses/site"> GitHub </a>
        <a class="badge badge-primary" href="https://carfinding.azurewebsites.net/"> CarFindingMachine </a>
        </div>
        <div id="projects" class="container-fluid text-center">
            <div class="row">
            <div v-for="project in projects" class="col-12 my-4 p-4 card"> 
                <h2 class="card-title text-center"> {{project.name}} </h2>
                <a v-if="project.link" v-bind:href="project.link" target="_blank"> More Info </a>
                <p class="card-text"> {{project.description}} </p>
                <div > 
                        <img v-for="(n,index) in project.numImages" class="img-thumbnail" alt="200x200" v-bind:src='"images/projects/" + project.imageFolder + "/screen" + (index + 1) + ".png"' style="display: inline-block; height: 150px;"/>    
                </div>
            </div>
        </div>
    
        </div>
    </div>


    <script src="js/index.js"></script>
</body>
</html>
